  <STYLE><!-- A{text-decoration:none} --></STYLE>


  <h1>List of User</h1>
  <pre><a href= "<%= home_index_path %>"><SPAN STYLE="color: red; font-size: 15pt">HOME</span>       <a href= "<%= new_user_path %>" > <SPAN STYLE="color: red; font-size: 15pt">ADD USER</span></pre>

  <% @users.each do |user| %>
    <p>
      Name = <%= link_to user.name, user_path(user) %></br>
      Age = <%= user.age %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user, method: :delete %></br>
    </p>
  <% end %>
