<h2><span STYLE="color: green">Create Page</span></h2>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% if !f.object.errors[:name].blank? %>
      <SPAN STYLE="color: blue; font-size: 9pt"><%= f.object.errors[:name] %></span>
    <% end %>

    <p></p>

    <%= f.label :age %>
    <%= f.text_field :age %></span>
    <% if !f.object.errors[:age].blank? %>
      <SPAN STYLE="color: blue; font-size: 9pt"><%= f.object.errors[:age] %></span>
    <% end %>

    <p></p>
    <%= f.submit 'Create'%>
    <%# link_to_function "Back", "history.back()" %>

  <% end %>
