
    <p>Thank you for submitting your resume through Linkedin!</p>
    <p>Summary: <%=@profile.summary %></p>
    <p>Email: <%= @profile.email_address %></p>
    <p>First Name: <%= @profile.first_name %></p>
    <p>Last Name: <%= @profile.last_name %></p>
    <p>Birth: <%= Date.parse("1/#{@profile.date_of_birth.month ? @profile.date_of_birth.month : 1}/#{@profile.date_of_birth.year}") %></p>
    <p>Phone: <%= @profile.phone_numbers.phone_number %></p>
    <p>Address: <%= @profile.main_address %></p>
    <p>Postion: <%= @profile.positions.title %></p>
    <p>Education: <%= @profile.educations.school_name %></p>
    <p>Location: <%= @profile.location.name %></p>
    <p>Industry: <%= @profile.industry %></p>
    <p>Interests: <%= @profile.interests %></p>
    <p>Languages: <%= @profile.languages.id %></p>
    <p>Skill: <%= @profile.skill %></p>
