
    <p>Thank you for submitting your resume through Linkedin!</p>
    <p>Summary: <%= @summary %></p>
    <p>Email: <%= @email %></p>
    <p>First Name: <%= @first %></p>
    <p>Last Name: <%= @last %></p>
    <p>Birth: <%= @birth %></p>
    <p>Phone: <%= @phone %></p>
    <p>Address: <%= @address %></p>
    <p>Postion: <%= @position %></p>
    <p>Education: <%= @edu %></p>
    <p>Location: <%= @location %></p>
    <p>Industry: <%= @industry %></p>
    <p>Interests: <%= @interest %></p>
    <p>Languages: <%= @languages %></p>
    <p>Skill: <%= @skill %></p>
    <p>Special: <%= @special %></p>
